body {
  font-family: 'PT Sans', sans-serif;
  display: "flex";
  justify-content: center;
  align-items: center;
}

button {
  border: none;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 0.75em; 
  display: inline-block;
  text-decoration: none;
}

.comment-box {
  width: 75%;
  color: #0069d9;
  background-color: #E5E5E5;
  border-radius: 0.875rem;
  padding: 0.2rem 1rem 2rem;
}

.comment-form {
  background-color: #fff;
  border-radius: 0.25rem;
  margin-bottom: 2rem;
  padding: 1rem; 
 
}
.comment-form-fields input, .comment-form-fields textarea {
  margin-bottom: 0.25rem;
    border: none;
    border-bottom: 1px solid #404040;
    font-size: 0.85rem;
    padding: 0.25rem 0;
    width: 99%;
    font-style: italic;
    margin-left: 1rem;
  }
.comment-count {
  color: #404040;
}

.comment {
  border-top: 0.125rem solid #404040;
  /* color: #404040; */
}
.comment-body {
  font-style: italic;
}

.comment-footer {
  margin-bottom: 1rem;
}


