.ArticleCard{
    width:  325px;
    display: inline-block important;
    margin: 30px;
}

.CardImage{
    max-height: 100px;
}

.CardBody{
    padding: 10px 15px 10px 15px;
}

.CardTitle{
    font-size: 16px;
    height: 45px;
    text-overflow: ellipsis;
}

.CardSubtitle{
    font-size: 12px;
    color: #7b858e;
}

.ArticleLabel{
    padding: 5px 10px 5px 10px;
    font-size: 14px;
}